gunicorn
Flask==3.1.2
flask-cors==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
Werkzeug==3.1.3

# Essential ML + Utils
numpy==2.2.6
opencv-python-headless==4.12.0.88
onnxruntime==1.20.1
joblib==1.5.2
psutil==7.1.3

# Only needed if cost_model.pkl is a scikit-learn model
scikit-learn==1.7.2
threadpoolctl==3.6.0
